<%= render "shared/navbar" %>


<div class="columns is-centered">

  <div class="column is-3">
    <h2 class="title m-5 mt-6">Edit <%= resource_name.to_s.humanize %>:</h2>
    <div class="field box m-5">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
    
        <div class="field">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
        </div>
    
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
    
        <div class="field">
          <%= f.label :change_password, class: "label" %>
          <%= f.password_field :change_password, class: "input", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
    
        <div class="field">
          <%= f.label :password_confirmation, class: "label" %><br />
          <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
        </div>
    
        <div class="field">
          <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: "input", autocomplete: "current-password" %>
        </div>
    
        <div class="actions">
          <%= f.submit "Update", class: "button is-light is-rounded mb-2 is-small" %>
        </div>
      <% end %>
    
      <%= button_to "Cancel my account", registration_path(resource_name), class: "button is-danger is-rounded is-small", data: { confirm: "Are you sure?" }, method: :delete %></p>
    
    </div>
  </div>
</div>
