<%= render "shared/navbar" %>

<div class="columns m-4">
  <div class="column has-text-centered">
    <div class="box mt-6">
      <h3 class="is-size-4 mb-2">Created Events:</h3>
      <ul>
        <% @user.created_events.each do |event| %>
          <li><%= link_to "#{event.place}", event_path(event.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="column has-text-centered">
    <div class="box mt-6">
      <h3 class="is-size-4 mb-2">Future Events:</h3>
      <% @user.attended_events.each do |event| %>
        <ul>
          <% if event.date > Time.now %>
          <li><%= link_to "#{event.place}", event_path(event.id) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  
  <div class="column has-text-centered">
    <div class="box mt-6">
      <h3 class="is-size-4 mb-2">Past Events:</h3>
      <% @user.attended_events.each do |event| %>
        <ul>
          <% if event.date < Time.now %>
          <li><%= link_to "#{event.place}", event_path(event.id) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="column is-2">
    <div class="box mt-6">
      <h3 class="is-size-4 mb-2">Invites:</h3>
      <% @user.invited_event.each do |event| %>
        <ul>
          <li>
            <div class="is-flex">
              <%= link_to event.title, event_path(event.id) %> --
              <%= button_to "Accept", 
              invite_path(invite: {invitee_id: @user.id, invited_event_id: event.id, invite_id: Invite.where("invitee_id = ?", @user.id).and(Invite.where("invited_event_id = ?", event.id)).ids[0]}), 
              method: :post %>
              <%= button_to "Decline", 
              invite_path(Invite.where("invitee_id = ?", @user.id).and(Invite.where("invited_event_id = ?", event.id)).ids[0]), 
              method: :delete %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
