<%= form_with model: @event do |form| %>
  <div class="field box m-5">
    <%= form.label :place, "Location:", class: "label" %>
    <div class="control">
      <%= form.text_field :place, class: "input" %>
    </div>

    <%= form.label :date, "Time:", class: "label mt-2" %>
    <div class="control">
      <%= form.datetime_local_field :date, class: "input" %>
    </div>
    
    <%= form.submit "Submit", class: "button mt-5 is-light" %>
  </div>
<% end %>
