<%= render "shared/navbar" %>

<%= render "shared/flash" %>

<div class="container">
  <div class="columns">
    <div class="column is-half has-text-centered mt-6 mb-6">
      <div class="is-size-1 mb-4">Upcoming:</div>
      <ul>
        <% @events.upcoming.each do |event| %>
          <div class="card">
            <li class="is-size-5"><%= link_to "#{event.place}", event_path(event.id)%></li>
            <li>Date: <%= @events.pretty_date(event) %></li>
          </div>
        <% end %>
      </ul>
    </div>
  
    <div class="column is-half has-text-centered mt-6 mb-6">
      <div class="is-size-1 mb-4">Past:</div>
      <ul>
        <% @events.past.each do |event| %>
          <div class="card">
            <li class="is-size-5"><%= link_to "#{event.place}", event_path(event.id)%></li>
            <li>Date: <%= @events.pretty_date(event) %></li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>


