<%= render "shared/navbar" %>

<%= render "shared/flash" %>

<div class="container box mt-6">
  <div class="columns">
    <div class="column">
      <h2 class="is-size-4 has-text-centered">Details:</h2>
      <ul>
        <div class="container m-6">
          <li><%= "Location:  #{@event.place}" %></li>
          <li><%= "Date:  #{@event.pretty_date}" %></li>
          <li>Host: <%= link_to "#{@event.creator.name}", user_path(@event.creator.id)%> </li>
          <li class="pt-2 pb-2 mt-4"><%= "Details: #{@event.body}" %></li>
        </div>
      </ul>
    </div>

    <div class="column has-text-centered">
      <h2 class="is-size-4">Attendees:</h2>
      <ul>
        <div class="container mt-2">
          <% @event.attendees.each do |person| %>
            <li><%= link_to person.name, user_path(person.id) %></li>
          <% end %>
        </div>
      </ul>
    </div>

    <div class="column">
      <h2 class="is-size-4">Invitees:</h2>
      <ul>
        <div class="container mt-2">
          <% @event.invitees.each do |invitee| %>
            <li><%= link_to invitee.name, user_path(invitee.id) %></li>
          <% end %>
        </div>
      </ul>
    </div>

    <div class="column is-1 ml">
      <div class="container mt-3">



      <% if current_user == @event.creator %>
        <div class="dropdown is-hoverable mt-2 is-right">
          <div class="dropdown-trigger">
            <button class="button is-light is-rounded is-small">Invite</button>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <% User.all.each do |user| %>
                <% if @event.invitees.include?(user) %>
                  <div class="dropdown-item">
                    <%= button_to "Uninvite #{user.name}", 
                        invite_path(@invite.find_user(user.id)),
                        # ^^^ this will return an array 
                        class: "button is-danger is-small", method: :delete %>
                  </div>
                <% elsif !@event.invitees.include?(user) && !@event.attendees.include?(user) %>
                  <div class="dropdown-item">
                    <%= button_to user.name, invites_path(invite: {invitee_id: user.id, invited_event_id: @event.id}), class: "button is-light is-small" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <% if @event.creator != current_user %>
          <% if @event.attendee_ids.include?(current_user.id) %>
            <%= button_to "Unattend", event_attendee_path(@event), class: "button is-danger is-small is-rounded", method: :delete%>
          <% else %>
            <%= button_to "Attend", event_attendees_path(event_attendee: {attended_event_id: @event.id, attendee_id: current_user.id}), class: 'button is-light is-rounded is-small mt-1' %>
          <% end %>
        <% end %>
      <% end %>
      

      </div>
    </div>
  </div>
  
  <% if current_user.id == @event.creator.id %>
    <div class="buttons are-small is-centered mt-6">
      <%= button_to "Edit", edit_event_path(@event), class: "button is-light is-rounded", method: :get %>
      <%= button_to "Delete", event_path(@event), class: "button is-danger is-rounded", method: :delete %>
    </div>
  <% end %>
</div>


