<%= render "shared/navbar" %>

<%= render "shared/flash" %>

<div class="container box mt-6">
  <div class="columns">
    <div class="column has-text-centered">
      <h2 class="is-size-4">Details:</h2>
      <ul>
        <div class="container mt-2">
          <li><%= "Location:  #{@event.place}" %></li>
          <li><%= "Date:  #{@event.date}" %></li>
          <li>Host: <%= link_to "#{@event.creator.email}", user_path(@event.creator.id)%> </li>
        </div>
      </ul>
    </div>

    <div class="column has-text-centered">
      <h2 class="is-size-4">Attendees:</h2>
      <ul>
        <div class="container mt-2">
          <% @event.attendees.each do |person| %>
            <li><%= link_to "#{person.email}", user_path(person.id) %></li>
          <% end %>
        </div>
      </ul>
    </div>

    <div class="column is-1">
      <div class="container mt-3">
        <% if @event.attendee_ids.include?(current_user.id) %>
          <%= button_to "Unattend", event_attendee_path(@event), class: "button is-light is-small", method: :delete%>
        <% else %>
          <%= button_to "Attend", event_attendees_path(event_attendee: {attended_event_id: @event.id, attendee_id: current_user.id}), class: 'button is-light is-rounded is-small mt-1' %>
        <% end %>
      </div>
    </div>
  </div>
  
  <% if current_user.id == @event.creator.id %>
    <div class="buttons are-small is-centered mt-6">
      <%= button_to "Edit", edit_event_path(@event), class: "button is-light is-rounded", method: :get %>
      <%= button_to "Delete", event_path(@event), class: "button is-danger is-rounded", method: :delete %>
    </div>
  <% end %>
</div>